body {
  background: #a5b8a8;
  background-image: radial-gradient(
    circle,
    rgba(165, 184, 168, 0.5),
    rgba(150, 160, 150, 0.3)
  );
  background-size: cover; /* Sorgt dafür, dass der Gradient den gesamten Hintergrund abdeckt */
  background-position: center; /* Stellt sicher, dass der Gradient zentral bleibt */
  height: 100vh; /* Deckt die gesamte Höhe des Viewports ab */
  margin: 0;
  overflow: hidden; /* Verhindert Scrollbars */
  cursor: none;
  
}



/* Container für das Bild */
.image-container {
  position: relative;
  width: 100%;
  max-width: 400px;
  height: auto;
  overflow: hidden;
  border-radius: 35px;
  border: 10px solid rgba(156, 175, 163, 0.4);
  box-shadow: 0 0 30px 10px rgba(156, 175, 163, 0.4);
  animation: clipReveal 1.5s ease-out;
  margin: 0 auto; /* Zentriert den Container */
  display: flex;
  justify-content: center; /* Horizontal zentrieren */
  align-items: flex-start; /* Bild bleibt oben auf Handys */
}

/* Das Bild selbst */
.image {
  width: 100%;
  height: auto;
  object-fit: cover;
  object-position: center;
  display: block;
  opacity: 1;
  animation: fadeIn 1.5s ease-out;
  border-radius: 25px;
}

/* Animationskeyframes */
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* Responsives Styling für kleinere Bildschirme */
@media (max-width: 600px) {
  .image-container {
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
    border: none;
    box-shadow: none;
    border-radius: 15px;
    justify-content: center; /* Horizontal zentrieren */
    align-items: flex-start; /* Bild bleibt oben */
  }
  .image {
    width: 80%;
    max-width: 200px;
    height: auto;
    border-radius: 15px;
  }
}

@media (max-width: 480px) {
  .image-container {
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
    border: none;
    box-shadow: none;
    border-radius: 10px;
    justify-content: center; /* Horizontal zentrieren */
    align-items: flex-start; /* Bild bleibt oben */
  }
  .image {
    width: 70%;
    max-width: 150px;
    height: auto;
    border-radius: 10px;
  }
}

@media (max-width: 320px) {
  .image-container {
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
    border: none;
    box-shadow: none;
    border-radius: 5px;
    justify-content: center; /* Horizontal zentrieren */
    align-items: flex-start; /* Bild bleibt oben */
  }
  .image {
    width: 60%;
    max-width: 120px;
    height: auto;
    border-radius: 5px;
  }
}
