body {
  background: #a5b8a8;
  background-image: radial-gradient(
    circle,
    rgba(165, 184, 168, 0.5),
    rgba(150, 160, 150, 0.3)
  );
  background-size: cover;
  background-position: center;
  height: 100vh;
  margin: 0;
  overflow: auto;
  cursor: none;
  font-family: "Microsoft JhengHei UI", "Segoe UI", "Arial", sans-serif !important;
}

.überschrifthighlight {
  color: #9CAD90; /* Salbeigrün */
  font-size: 1.5em; /* Größer */
  font-weight: bold; /* Fett */
}
.zentrierter-text {
  text-align: left;
}

.skills-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  padding: 20px;
}

.skills-content {
  max-width: 1300px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.skills-text {
  margin-bottom: 20px;
}

.skills-columns {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.skills-column {
  text-align: left;
  flex: 1; 
}

.skills-column li {
  margin-bottom: 20px; /* Abstand zwischen den Listenpunkten */
}

@media (max-width: 768px) {
  .skills-column {
    font-size: 1.1rem; /* Kleinere Schrift für kleinere Bildschirme */
  }
}

@media (max-width: 480px) {
  .skills-column {
    font-size: 0.9rem; /* Noch kleinere Schrift für sehr kleine Bildschirme */
  }
}

.about-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: 0 auto;
  padding: 20px;
  flex-wrap: wrap;
}

.about-content {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  max-width: 400px;
  margin: auto;
}

.image-container {
  transform: translateY(+20%);
  position: relative;
  max-width: 400px;
  min-width: 250px;
  height: auto;
  border-radius: 35px;
  border: 10px solid rgba(156, 175, 163, 0.4);
  box-shadow: 0 0 30px 10px rgba(156, 175, 163, 0.4);
  animation: clipReveal 1.5s ease-out;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image {
  width: 100%;
  height: auto;
  object-fit: contain;
  object-position: center;
  display: block;
  border-radius: 25px;
  animation: fadeIn 1.5s ease-out;
}

.text-container {
  margin-left: 7rem;
  margin-right: 4rem;
  text-align: left;
  flex: 1;
  overflow: auto;
}

.about-text {
  text-align: left;
  font-size: 0.8rem;
  animation: fadeIn 1s ease-out;
}


/* RESPONSIVE ANPASSUNGEN */

@media (max-width: 1024px) {
  .about-container {
    flex-direction: column;
    text-align: center;
  }
  .image-container {
    max-width: 300px;
    border-radius: 30px;
    border-width: 8px;
    margin: 0 auto; 
  }
  .text-container {
    margin: 20px;
    text-align: center;
  }
}

@media (max-width: 768px) {
  .image-container {
    transform: translateX(-7%);
    max-width: 250px;
    border-width: 6px;
    box-shadow: 0 0 15px 5px rgba(156, 175, 163, 0.3);
    margin: 0 auto; 
  }
  .text-container {
    transform: translateX(-4%);
    margin: 0 auto; 
    text-align: center;
    padding-bottom: 30px;
  }
  .about-text {
    font-size: 0.75rem;
  }
}

@media (max-width: 480px) {
  .image-container {
    max-width: 200px;
    border-width: 4px;
    box-shadow: 0 0 10px 3px rgba(156, 175, 163, 0.2);
    margin-bottom: 15px;
  }
  .text-container {
    margin: 5px;
    padding: 5px;
    padding-bottom: 20px;
  }
  .about-text {
    font-size: 0.9rem;
  }
}

@media (max-width: 320px) {
  .image-container {
    max-width: 150px;
    border-width: 3px;
    box-shadow: 0 0 5px 2px rgba(156, 175, 163, 0.1);
    margin-bottom: 10px;
  }
  .text-container {
    margin: 3px;
    padding: 3px;
    padding-bottom: 15px;
  }
  .about-text {
    font-size: 0.9rem;
  }
}

@media (min-width: 1025px) {
  .image-container {
    margin-top: -130px;
  }
  .text-container {
    padding-bottom: 40px;
    font-size: 1.2rem;
  }
}

.my-video-class {
  max-width: 100%;
  max-height: 80vh;
  object-fit: contain;
}

@media (max-width: 768px) {
  .my-video-class {
    max-width: 100%;
    height: auto;
  }
}
